  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Write a review of your booking
  </button>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <%= simple_form_for(@review) do |f| %>
      <%= f.input :rating, collection: 1..5, id: "ratings", input_html: {"data-controller": "review-form"}  %>
      <%= f.input :content %>
      <%= f.submit %>
    <% end %>

  </div>
</div>
