<div class="requests">
 <% if params[:q] == "all" %>
    <%= render "my_books" %>
  <% elsif params[:q] == "completed" %>
    <%= render "shared/completed_bookings" %>
  <% else %>
    <%= render "my_requests" %>
    <%#if params[:view] == request%>
    <%= render "my_books_requests" %>
  <% end %>
</div>
