 <div class="dashboard-header d-flex justify-content-center">
    <h2 class= " d-inline p-2" >Your dashboard: </h2>
  </div>
<div class="main-dashboard-container">
  <%= render "dashboard_card" %>
  <%= render "dashboard_conditions" %>
</div>
