<% if params[:q] == "all" %>
<div class="dashboard-header d-flex justify-content-center">
  <h2 class= " d-inline p-2" >Your books: </h2>
  <h2 class= " d-inline p-2"> ↩ Go back</h2>
</div>
  <%= render "my_books" %>
<% elsif params[:q] == "completed" %>
  <%= render "shared/completed_bookings" %>
<% else %>
  <%= render "my_requests" %>
<%#if params[:view] == request%>
  <%= render "my_books_requests" %>
<% end %>
