
<div class="infobox">
  <h2><%= link_to user.user_name, user_path(user), class: "text-decoration-none text-muted" %></h2>

  <%= link_to user_path(user) do %>
    <%= user.photo.attached? ? (cl_image_path user.photo.key, class: "mapbox-avatar") : (image_tag "avatar-placeholder.gif", class: "mapbox-avatar" ) %>
  <% end %>
</div>

<ul>
  <% user.books.first(5).each do |book| %>
    <li><%= link_to book.title, book_path(book),
    html:{class: "map-box-list"}  %></li>
  <% end %>
</ul>
