<div class="container">
  <div class="text-center">
    <h1>Browse book library</h1>
  </div>
  <div>
    <%= link_to "Add a new book",  new_book_path , class: "btn btn-ghost" %>
  </div>
</div>


<div class="main-container">
  <div class="col-8 col-md-8 col-sm-6">
    <div class="grid">
      <%= render "shared/grid" %>
    </div>
  </div>

  <div class="col-4 col-md-4 col-sm-6">
    <div class="map">
      <%= render "shared/map" %>
    </div>
  </div>
</div>
