.book-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 80%;
  margin: 0 auto;
}

.book {
  display:flex;
  height: 240px;
  width:139px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book a{
  height: 60px;
}

.book img{
  height: 180px;
}
