.book-grid{
  margin-left: 16px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.book {
  display:flex;
  height: 240px;
  width:139px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book a{
  height: 60px;
}

.book img{
  height: 180px;
}

@media(max-width: 1555px) {
  .book-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 1180px) {
  .book-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 790px) {
  .book-grid {
    grid-template-columns: 1fr;
  }
}
