.mapboxgl-popup {
  max-width: 200px;
  font-family: "Open Sans", Roboto;

}

.mapboxgl-popup-content {
  text-align: center;
  text-shadow: 2px;
  a {
    text-decoration: none;

  }
}
.mapboxgl-popup-content ul {
  list-style-type: none;
  text-align: left;
}
